@{
    ViewBag.Title = "Pagina de Inicio";
}

<div class="jumbotron">
    <h1>Registro de Estudiantes</h1>
    <p class="lead">Aplicativo para registro de materias de Estudiante.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Ya viene con Data Precargada</h2>
        <p>Pero se implemento los Modulos de Profesor, Materia, Alumno y Registro de Materia</p>
        <p></p>
    </div>
</div>